<MudPaper>
    <MudCard>
        <MudCardHeader>
            <MudCardContent>
                @if (Dimension.Dimensions.Count == 0)
                {
                    <MudText Typo="Typo.h5">[No dimension parameters]</MudText>
                }
                else
                {
                    <MudStack Row="true">
                        @foreach (var kv in Dimension.Dimensions)
                        {
                            <MudText>
                                <span class="DimensionKey">@kv.Key: </span>
                                <span class="DimensionValue">@kv.Value</span>
                            </MudText>
                        }
                    </MudStack>
                }
            </MudCardContent>
        </MudCardHeader>
        <MudCardContent>
            <MudStack>
                <MudPaper>
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@_chartValues" XAxisLabels="@_chartLabels" Width="500x" Height="400px"></MudChart>
                </MudPaper>
                <MudPaper>
                    <MudTable Items="@Dimension._values" Dense="true">
                        <NoRecordsContent>
                            No records found for this dimension combination.
                        </NoRecordsContent>
                        <HeaderContent>
                            @foreach (var label in _chartLabels)
                            {
                                <MudTh>@label</MudTh>
                            }
                            <MudTh>Sum</MudTh>
                            <MudTh>Count</MudTh>
                            <MudTh>Start Timestamp</MudTh>
                            <MudTh>Last Timestamp</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @foreach (var value in (context as HistogramValue).Values)
                            {
                            <MudTd>@value.ToString()</MudTd>
                            }
                            <MudTd DataLabel="Sum">@((context as HistogramValue).Sum.ToString("G"))</MudTd>
                            <MudTd DataLabel="Count">@((context as HistogramValue).Count)</MudTd>
                            <MudTd DataLabel="Start Timestamp">@context.Start.ToLocalTime().ToLongTimeString()</MudTd>
                            <MudTd DataLabel="Last Timestamp">@context.End.ToLocalTime().ToLongTimeString()</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager HideRowsPerPage="true" />
                        </PagerContent>
                    </MudTable>
                </MudPaper>

            </MudStack>
        </MudCardContent>
    </MudCard>
</MudPaper>

