@using OTLPView.DataModel;

<div class="SpanBlock">
    <div class="TimelineBlock" @onclick="UpdateSelection">
        <div class="TimelineMiddle" style='@($"width:{_width.ToString("F2")}%; margin-left:{_leftOffset:F2}%; margin-right:{_rightOffset:F2}%; background-color:{BarColor};")'>
            @foreach (var e in Span.Events)
            {
                <div class="TimelineEvent" style='@($"left:{(e.TimeOffset(Span))/Span.Duration.TotalMilliseconds * 100:F2}%")'>&#9830;</div>
            }
            <span class="TimelineOffsetText">@($"{_left_ms:F0} ms")</span>
            <span class="TimelineTitle">@($"{Span.ScopeName}: {Span.Name}")</span>
            <span class="TimelineDurationText">@($"{Span.Duration.TotalMilliseconds:F0} ms")</span>
        </div>
    </div>
    <div class="ChildSpans">
        @foreach (var s in Span.ChildSpans)
        {
            <TraceSpanView Span="@s" />
        }
    </div>
</div>


