@page "/Traces"

<PageTitle>Traces</PageTitle>

@if (State is { SelectedSpan: null, SelectedOperation: null })
{
    <SimpleBanner TitleText="No distributed tracing data"
                  BodyText="As distributed traces are written, they will be display here." />
}
else
{
    <div class="OperationsList">
        <div class="OperationsListTitle">Operations:</div>
        <div class="OperationsListItems">
            @foreach (var operation in TelemetryResults.Operations)
            {
                <div class="@IsSelected(operation,"OperationsListBlock")" @onclick="@(_ => SelectOperation(operation))">
                    <div class="OperationsListTitleBlock">
                        <h2>@operation.OperationId</h2>
                        <div class="OperationsListDetails">
                            <span class="Property">Duration:</span>
                            <span class="Value">@operation.Duration ms</span>,
                            <span class="Property">Root Spans:</span>
                            <span class="Value">@operation.RootSpans.Count</span>,
                            <span class="Property">All Spans:</span>
                            <span class="Value">@operation.AllSpans.Count</span>
                        </div>
                        <div>
                            <span>@operation.StartTime.TimeOfDay</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="OperationBlock">
        @if (State.SelectedSpan is not null)
        {
            <div class="OperationTitleBlock">
                <h2><span>Operation:</span><span>@State.SelectedOperation.OperationId</span></h2>
            </div>
            @foreach (var s in State.SelectedOperation.RootSpans.Values)
            {
                <TraceSpanView Span="@s" />
            }
            @foreach (var s in State.SelectedOperation.UnParentedSpans)
            {
                <TraceSpanView Span="@s" />
            }

        }
        else
        {
            <div>Select an operation to view its spans</div>
        }
    </div>
    <div class="DetailsPanel">
        @if (State.SelectedSpan is not null)
        {
            <div class="DetailsTitle">Span Details</div>
            <div class="SpanTitle">
                <h2 class="Name">@State.SelectedSpan.Name</h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="Property">SpanId:</td>
                            <td class="Value">@State.SelectedSpan.SpanId</td>
                        </tr>
                        <tr>
                            <td class="Property">Kind:</td>
                            <td class="Value">@State.SelectedSpan.Kind</td>
                        </tr>
                        @if (State.SelectedSpan.ParentSpanId is not null)
                        {
                            <tr>
                                <td class="Property">Parent SpanId:</td>
                                <td class="Value">@State.SelectedSpan.ParentSpanId</td>
                            </tr>
                        }
                        @if (State.SelectedSpan.NotParented)
                        {
                            <tr>
                                <td class="Property">Validation Error</td>
                                <td class="Value">Parent span not found</td>
                            </tr>
                        }
                        <tr>
                            <td class="Property">Operation Offset:</td>
                            <td class="Value">@((State.SelectedSpan.StartTime - State.SelectedSpan.Operation.StartTime).TotalMilliseconds) ms</td>
                        </tr>
                        @if (State.SelectedSpan.ParentSpan is not null)
                        {
                            <tr>
                                <td class="Property">Parent Offset</td>

                                <td class="Value">@((State.SelectedSpan.StartTime - State.SelectedSpan.ParentSpan.StartTime).TotalMilliseconds) ms </td>
                            </tr>
                        }
                        <tr>
                            <td class="Property">Duration:</td>
                            <td class="Value">@(State.SelectedSpan.Duration.TotalMilliseconds) ms</td>
                        </tr>
                        @if (State.SelectedSpan.Status is not null)
                        {
                            <tr>
                                <td class="Property">Status:</td>
                                <td class="Value">@State.SelectedSpan.Status</td>
                            </tr>
                        }
                        @foreach (var kv in State.SelectedSpan.Attributes)
                        {
                            if (!string.IsNullOrEmpty(kv.Value))
                            {
                                <tr>
                                    <td class="Property">@kv.Key:</td>
                                    <td class="Value">@kv.Value</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="DetailsTitle" colspan="2">Trace Scope</td>
                        </tr>
                        <tr>
                            <td class="Property">Name:</td>
                            <td class="Value">@State.SelectedSpan.TraceScope.ScopeName</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(State.SelectedSpan.TraceScope.Version))
                        {
                            <tr>
                                <td class="Property">Version:</td>
                                <td class="Value">@State.SelectedSpan.TraceScope.Version</td>
                            </tr>
                        }
                        @foreach (var kv in State.SelectedSpan.TraceScope.Properties)
                        {
                            if (!string.IsNullOrEmpty(kv.Value))
                            {
                                <tr>
                                    <td class="Property">@kv.Key:</td>
                                    <td class="Value">@kv.Value</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="DetailsTitle" colspan="2">Events</td>
                        </tr>
                        @if (State.SelectedSpan.Events.Count > 0)
                        {
                            foreach (var e in State.SelectedSpan.Events)
                            {
                                <tr>
                                    <td class="Property">Name:</td>
                                    <td class="Value">@e.Name</td>
                                </tr>
                                <tr>
                                    <td class="Property">Offset</td>
                                    <td class="Value">@e.TimeOffset(State.SelectedSpan)</td>
                                </tr>
                                foreach (var kv in e.Attributes)
                                {
                                    if (!string.IsNullOrEmpty(kv.Value))
                                    {
                                        <tr>
                                            <td class="Property">@kv.Key:</td>
                                            <td class="Value">@kv.Value</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2">No events</td>
                            </tr>
                        }
                        <tr>
                            <td class="DetailsTitle" colspan="2">Application</td>
                        </tr>
                        <tr>
                            <td class="Property">Name:</td>
                            <td class="Value">@State.SelectedSpan.Source.ApplicationName</td>
                        </tr>

                        @foreach (var kv in State.SelectedSpan.Source.Properties)
                        {
                            if (!string.IsNullOrEmpty(kv.Value))
                            {
                                <tr>
                                    <td class="Property">@kv.Key:</td>
                                    <td class="Value">@kv.Value</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>Select a span to see details</div>
        }
    </div>
}
