<div class="DimensionBlock">
    <h5 class="DimensionTitle">
        @foreach (var kv in Dimension.Dimensions)
        {
            <span class="DimensionKey">@kv.Key: </span>

            <span class="DimensionValue">@kv.Value</span>
        }
    </h5>
    <div>
        @foreach (var mValue in Dimension.Values)
        {
            @if (mValue is HistogramValue)
            {
                var hValue = mValue as HistogramValue;
        <div class="HistogramValue">
            <span class="HistogramValueProperty">Count:</span>
            <span class="HistogramValuePropertyValue">@hValue.Count</span>
            <span class="HistogramValueProperty">Sum:</span>
            <span class="HistogramValuePropertyValue">@hValue.Sum</span>
             <span class="HistogramValueProperty">Buckets:</span>
            @if (hValue.Values is not null)
                    {
                        foreach (var v in hValue.Values)
                        {
                            <span class="HistogramValueEntry">@v</span>
                        }
                    }
                </div>
            }
            else
            {
                <span class="MetricPointValue">@mValue.ToString()</span>
            }

        }
    </div>
</div>

@code {
    [Parameter]
    public DimensionScope Dimension { get; set; }


}
